*{
	padding: 0px;
	margin: 0px;
}
html{
	font-family: arial;
}
body{
	background-color: rgb(230,240,240);
	/*background-color: white;*/
	position: absolute;
}
html,body{
	height: 100%;
	width: 100%;
}
#header{
	position: relative;
	width: 100vw;
	height:50vw;
	/*background-color: #0D0E0E;*/
}
a{
	text-decoration: none;
}
#header #face{
	position: absolute;
	top:12%;
	left: 34%;
	width: 32%;
	background-image:url('https://nxlinfo.github.io/assests/face.jpg');
	background-size: 100%;
	/*background-repeat: no-repeat;*/
	height: 62%;
	border-radius: 100%;
	border:solid #ccc;
}
#header #name{
	width: 100vw;
	height: 10vw;
	position: absolute;
	top:84%;
	color:black;
	font-weight: 550;
	font-size: 30px;
	text-align: center;
}
#header #age{
	color:white;
	position: absolute;
	top:60%;
	font-size: 5vw;
	font-family: arial;
	right:8%;
}
#header #sex{
	color:white;
	position: absolute;
	top:60%;
	font-size: 5vw;
	font-family: arial;
	left:34%;

}
#bodyss{	
	position:absolute;
	/*background-color: red;*/
}
#bodyss ul{
	position: relative;
	top:2vw;
}
#bodyss ul li{
	position: relative;
	top:4vw;
	margin: 0.5vw 0px;
	width: 100vw;
	height: 9vw;
	list-style-type: none;
}
/*.fa-facebook{
	color:white;
}*/
#bodyss ul li p{
	position: absolute;
	top:12%;
	left:27%;
	color:black;
	font-size: 5vw;
	/*top:%;*/
}
#bodyss ul li i{
	position: absolute;
	top:10%;
	left:14%;
	color:black;
	font-size: 7vw;
}
#body2{
	/*background-color: red;*/
	position: absolute;
	width: 100vw;
	height:15vw;
	top:100vw;
}
#body2 ul{
	position: relative;
}
#body2 ul li{
	position: relative;
	left: 15%;
	margin-left: 5%;
	/*background-color: red;*/
	display: inline-block;
	width: 15vw;
	height: 14vw;
	z-index: 2;
	border-radius:5vw;
	/*border: solid #ccc;*/
}
#body2 ul i{
	font-size: 14vw;
}
ul li img{
	margin: 0.5vw;
	background-size: 100%;
	width: 14vw;
	height: 14vw;
}
li:hover img{
	background-color: pink;
}
#donate{
	background-color: #ccc;
	width: 40vw;
	height: 15vw;
	position: absolute;
	top: 123vw;
	left: 28vw;
	border-radius: 3vw;
	border:solid #aaa;
}
#donate p{
	color: black;
	font-size: 7vw;
	margin:3.5vw; 
	text-align: center;
}
#donate:hover{
	background-color: pink;
}
#bodys{
	margin-top: 7vw;
}
#bodys ul li{
	margin-top: 2vw;
	height: 17vw;
	width: 85vw;
	position: relative;
	left: 7vw;
	background-color: #ccc;
	list-style-type: none;
	border-radius: 6vw;
	border:solid #aaa;

}
#bodys li p{
	position: absolute;
	top: 29%;
	left: 27%;
	color:black;
	font-weight: 600;
	font-size: 6vw;
}
#bodys li p1{
	color: black;
	position: absolute;
	top:71%;
	left: 28%;
}
#bodys li p2{
	position: absolute;
	right:10%;
	display: none;
}
#idmomo{
	background-image: url('https://nxlinfo.github.io/assests/momo.jpg');
	width: 14vw;
	height: 14vw;
	background-size: 100%;
	position: absolute;
	top:9%;
	left: 4%;
	border-radius: 6vw;
}
#idviettel{
	background-image: url('https://nxlinfo.github.io/assests/unnamed.png');
	width: 14vw;
	height: 14vw;
	background-size: 100%;
	position: absolute;
	top:9%;
	left: 4%;
	border-radius: 6vw;
}
#idviettin{
	z-index: 2;
	background-image: url('https://nxlinfo.github.io/assests/viettin.png');
	width: 14vw;
	height: 14vw;
	background-size: 100%;
	position: absolute;
	top:9%;
	left: 4%;
	border-radius: 6vw;
	/*border-radius: 6vw;*/
}

.fa-copy{
	cursor: pointer;
	position: absolute;
	top:12%;
	right: 3%;
	font-size:4vw;
	color :#fff;
}
.fa-copy:hover{
	color:#ffb;
}


#banner{
	z-index: -1;
	/*background-image:url(./noel.png);*/
	width: 110px;
	height: 110px;
	position: fixed;
	bottom: 0vw;
	/*background-size: contain;*/
}
#banner1{
	z-index: -1;
	/*background-image:url(./noel.png);*/
	width: 110px;
	height: 110px;
	position: fixed;
	top: 0vw;
}
.slide{
	display: none;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
/*#menu1{
	width: 25vw;
	height:60vw;
	position: absolute;
	top:4vw;
	right: 0vw;
	border-radius: 2vw;	
	z-index: 3;
}
#menu1 i{
	position: absolute;
	top:2%;
	right: 10%;
	font-size: 4vw;
	color: #ccc;
}
#menu1 #navmenu{
	background-color: red;	
	display: none;
	position: absolute;
	top:-5%;
	width: 100%;
	height: 100%;
	border-radius: 2vw;
}
#navmenu li{
	list-style-type: none;
	position: relative;
	width: 90%;
	height: 20%;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 1vw;
	background-color: #ccc;
}
#navmenu li p{
	text-align: center;
	padding-top: 18%;
}
#menu1 i:hover{
	color:red;
}*/
/* Nút Dropdown*/
/*.nut_dropdown {
  background-color: #0080ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
*/
/* Thiết lập vị trí cho thẻ div với class dropdown*/
/*#sa{
	position: relative;
	top:20px;
	left:20px;
}*/
.dropdown {
  z-index: 4;
  position:relative;
  /*float: top;*/
  top:12px;
  float: right;
  right: 3vw;
  display: block;
  /*background-color: red;*/
  display: inline-block;
  /*width: 17px;
  background-color: #ccc;
  border-radius: 10px;*/
}
.dropdown i:hover{
	color:pink;
}
/* Nội dung Dropdown */
.noidung_dropdown {

  position: fixed;
  right: 0px;
  float: left;
  width: 200px;
  height: 100%;
  background-color: #12192c;
  z-index: 1;
  /*text-align: center;*/
  display: none;
}
.noidung_dropdown>#nickname>p{
	color:  white;
	/*background-color: green;*/
 	position: absolute;
 	font-size: 25px;
 	left:23%;
 	top:5px;
}
.noidung_dropdown #nickname{
	/*background-color: red;*/
	width: 100%;
	height: 35px;
}
.fa-home{
	position: absolute;
	/*top:10%;*/
	color: white;
	left: 5%;
	top:12px;
	font-size: 20px;
}
#navmenu>li{
	position: relative;
	/*border-top: 2px solid #b1154a;*/
	/*border-bottom: 2px solid #b1154a;*/
	/*border: solid 1px yellow;*/
}
.noidung_dropdown #navmenu{
	background-color: #12192c;
	position: relative;
	top:10px;
	width: 100%;
	height: 100%;
}
 .menu{
	/*position: relative;*/
	width: 100%;
	/*height: 10vư;*/
	list-style-type: none;
	background-color: 
}
#navtheme:hover #theme{
	display: block;
}
#navmenu>li>p{
	color:  #a9aeb7;

	padding-top: 10px;
	font-size: 25px;
	text-align: center;
}
#navmenu>li>i{
	font-size: 25px;
	position: absolute;
	top:15px;
	left: 7%;
	color:  #a9aeb7;
}
.hienThi{
	z-index: 3;
  display:block;
}
#theme{
	display: none;
	background-color: #11111d;
}
#theme li{
	border:solid 0.1px;
}
#theme li p{
	margin-left: 30%;
	font-size: 15px;
	color: #ccc;
}
#version{
	/*background-color: red;*/
	position: absolute;
	z-index: 5;
	bottom:0;
	width: 100%;
}
#version p{
	color: #ccc;
	text-align: center;
	font-size: 20px;	
}