*{
	padding: 0px;
	margin: 0px;
}
html{
	font-family: arial;
}
body{
	background-color: rgb(230,240,240);
	/*background-color: white;*/
	position: absolute;
}
#header{
	position: relative;
	width: 100vw;
	height:50vw;
	/*background-color: #0D0E0E;*/
}
a{
	text-decoration: none;
}
#header #face{
	position: absolute;
	top:12%;
	left: 34%;
	width: 32%;
	background-image:url('https://nxlinfo.github.io/assests/face.jpg');
	background-size: 100%;
	/*background-repeat: no-repeat;*/
	height: 62%;
	border-radius: 100%;
	border:solid #ccc;
}
#header #name{
	width: 100vw;
	height: 10vw;
	position: absolute;
	top:84%;
	color:black;
	font-weight: 550;
	font-size: 30px;
	text-align: center;
}
#header #age{
	color:white;
	position: absolute;
	top:60%;
	font-size: 5vw;
	font-family: arial;
	right:8%;
}
#header #sex{
	color:white;
	position: absolute;
	top:60%;
	font-size: 5vw;
	font-family: arial;
	left:34%;

}
#bodyss{	
	position:absolute;
	/*background-color: red;*/
}
#bodyss ul{
	position: relative;
	top:2vw;
}
#bodyss ul li{
	position: relative;
	top:4vw;
	margin: 0.5vw 0px;
	width: 100vw;
	height: 9vw;
	list-style-type: none;
}
/*.fa-facebook{
	color:white;
}*/
#bodyss ul li p{
	position: absolute;
	top:12%;
	left:27%;
	color:black;
	font-size: 5vw;
	/*top:%;*/
}
#bodyss ul li i{
	position: absolute;
	top:10%;
	left:14%;
	color:black;
	font-size: 7vw;
}
#body2{
	/*background-color: red;*/
	position: absolute;
	width: 100vw;
	height:15vw;
	top:100vw;
}
#body2 ul{
	position: relative;
}
#body2 ul li{
	position: relative;
	left: 15%;
	margin-left: 5%;
	/*background-color: red;*/
	display: inline-block;
	width: 15vw;
	height: 14vw;
	z-index: 2;
	border-radius:5vw;
	/*border: solid #ccc;*/
}
#body2 ul i{
	font-size: 14vw;
}
ul li img{
	margin: 0.5vw;
	background-size: 100%;
	width: 14vw;
	height: 14vw;
}
li:hover img{
	background-color: pink;
}
#donate{
	background-color: #ccc;
	width: 40vw;
	height: 15vw;
	position: absolute;
	top: 123vw;
	left: 28vw;
	border-radius: 3vw;
	border:solid #aaa;
}
#donate p{
	color: black;
	font-size: 7vw;
	margin:3.5vw; 
	text-align: center;
}
#donate:hover{
	background-color: pink;
}
#bodys{
	margin-top: 7vw;
}
#bodys ul li{
	margin-top: 2vw;
	height: 17vw;
	width: 85vw;
	position: relative;
	left: 7vw;
	background-color: #ccc;
	list-style-type: none;
	border-radius: 6vw;
	border:solid #aaa;

}
#bodys li p{
	position: absolute;
	top: 29%;
	left: 27%;
	color:black;
	font-weight: 600;
	font-size: 6vw;
}
#bodys li p1{
	color: black;
	position: absolute;
	top:71%;
	left: 28%;
}
#bodys li p2{
	position: absolute;
	right:10%;
	display: none;
}
#idmomo{
	background-image: url('https://nxlinfo.github.io/assests/momo.jpg');
	width: 14vw;
	height: 14vw;
	background-size: 100%;
	position: absolute;
	top:9%;
	left: 4%;
	border-radius: 6vw;
}
#idviettel{
	background-image: url('https://nxlinfo.github.io/assests/unnamed.png');
	width: 14vw;
	height: 14vw;
	background-size: 100%;
	position: absolute;
	top:9%;
	left: 4%;
	border-radius: 6vw;
}
#idviettin{
	z-index: 2;
	background-image: url('https://nxlinfo.github.io/assests/viettin.png');
	width: 14vw;
	height: 14vw;
	background-size: 100%;
	position: absolute;
	top:9%;
	left: 4%;
	border-radius: 6vw;
	/*border-radius: 6vw;*/
}

.fa-copy{
	cursor: pointer;
	position: absolute;
	top:12%;
	right: 3%;
	font-size:4vw;
	color :#fff;
}
.fa-copy:hover{
	color:#ffb;
}


#banner{
	z-index: -1;
	/*background-image:url(./noel.png);*/
	width: 110px;
	height: 110px;
	position: fixed;
	bottom: 0vw;
	/*background-size: contain;*/
}
#banner1{
	z-index: -1;
	/*background-image:url(./noel.png);*/
	width: 110px;
	height: 110px;
	position: fixed;
	top: 0vw;
}
.slide{
	display: none;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
#menu1{
	/*background-color: black;*/
	width: 25vw;
	height:60vw;
	position: absolute;
	top:4vw;
	right: 0vw;
	border-radius: 2vw;	
}
#menu1 i{
	position: absolute;
	top:2%;
	right: 10%;
	font-size: 4vw;
	color: #ccc;
	/*background-color: yellow;*/
}
#navmenu{
	/*display: none;*/
	position: absolute;
	top:10%;
	width: 100%;
	height: 100%;
}
#navmenu ul{
	width: 100%;
	height: 100%;
}
#navmenu ul li{
	z-index: 2;
	list-style-type: none;
	position: relative;
	width: 90%;
	height: 20%;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 1vw;
	background-color: #ccc;
}
#navmenu li p{
	text-align: center;
	padding-top: 18%;
}
 /*#menu i:hover i{
	color: red;
}*/